.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #DB00FF;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --extra-text-color: #353430;
  --accent-color: #FF0070;
  --decor-color: #FF8DCB;
  --caption-color: #353430;
  --btn-hover-outline-color: rgba(50, 49, 45, 0.4);
  --decorated-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --accent-color: #DB00FF;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --extra-text-color: #353430;
    --accent-color: #FF0070;
    --decor-color: #FF8DCB;
    --caption-color: #353430;
    --decorated-color: transparent;
    --btn-hover-outline-color: rgba(50, 49, 45, 0.4);
  }
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
  }
}