.page {
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}

.header {
  display: grid;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.header::before {
  display: block;
  content: "";
  border-right: 25px solid var(--caption-color);
  position: absolute;
  width: 25px;
  height: 1px;
  right: 20px;
  top: 20px;
}

.header::after {
  display: block;
  content: "";
  border-right: 1px solid var(--caption-color);
  position: absolute;
  width: 1px;
  height: 25px;
  right: 20px;
  top: 20px;
}

@media (width < 768px) {
  .header::before {
    right: 10px;
    top: 10px;
  }
}

@media (width < 768px) {
  .header::after {
    right: 10px;
    top: 10px;
  }
}

.header__theme-menu {
  padding-block-start: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: var(--main-font);
  font-size: var(--font-size);
  color: var(--caption-color);
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    padding-block-start: 170px;
    gap: 7px;
    padding-inline-end: 20px;
  }
}

@media (width < 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    padding-block-start: 54px;
    gap: 7px;
    padding-inline-end: 10px;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 2px 13px 4px;
}

.header__theme-menu-button:hover {
  outline: 2px solid var(--caption-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.decorated {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--decorated-color);
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 27px;
}

@media (width < 768px) {
  .decorated {
    right: 19px;
    top: 11px;
  }
}

.decorated_circle {
  display: inline-block;
  filter: blur(2px);
  background-color: var(--decorated-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.header__title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-family: var(--main-font);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 236px;
}

@media (width < 1024px) {
  .header__title {
    padding-block-start: 78px;
    opacity: 50%;
  }
}

@media (width < 768px) {
  .header__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-start: 64px;
    padding-inline-start: 10px;
    line-height: 0.83em;
  }
}

.header__text {
  justify-self: end;
  width: 50%;
  padding-block-start: 75px;
  padding-inline-end: 20px;
  padding-block-end: 134px;
}

@media (width < 1024px) {
  .header__text {
    padding-block-start: 65px;
    padding-block-end: 115px;
  }
}

@media (width < 768px) {
  .header__text {
    padding-inline: 10px;
    padding-block-start: 54px;
    width: 100%;
  }
}

.header__text::before {
  display: block;
  content: "";
  border-right: 25px solid var(--caption-color);
  position: absolute;
  width: 25px;
  height: 1px;
  left: 20px;
  bottom: 20px;
}

.header__text::after {
  display: block;
  content: "";
  border-right: 1px solid var(--caption-color);
  position: absolute;
  width: 1px;
  height: 25px;
  left: 20px;
  bottom: 20px;
}

@media (width < 768px) {
  .header__text::after {
    left: 10px;
    bottom: 10px;
  }
  .header__text::before {
    left: 10px;
    bottom: 10px;
  }
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--second-text-color);
  font-size: var(--font-size);
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.main-text {
  color: var(--text-color);
  line-height: 1.46em;
  padding-block: 10px 20px;
  letter-spacing: 1.2px;
}

.main {
  padding-block-start: 60px;
}

@media (width < 768px) {
  .main {
    padding-block-start: 40px;
  }
}

.section-why {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (width < 768px) {
  .section-why {
    grid-template-columns: 1fr;
  }
}

@media (width < 1024px) {
  .section-why__title {
    max-width: 230px;
  }
}

@media (width < 768px) {
  .section-why__title {
    max-width: 100%;
  }
}

.section-why__container {
  padding-inline-start: 7px;
  padding-block-end: 61px;
}

@media (width < 1024px) {
  .section-why__container {
    padding-inline-start: 14px;
  }
}

@media (width < 768px) {
  .section-why__container {
    padding-inline-start: 0;
    padding-block-start: 20px;
    padding-block-end: 30px;
  }
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-what__title {
  display: inline-block;
  max-width: 315px;
  width: 100%;
}

@media (width < 1024px) {
  .section-what__title {
    max-width: 230px;
  }
}

@media (width < 768px) {
  .section-what__title {
    max-width: 100%;
  }
}

.section-what__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 19px;
}

@media (width < 1024px) {
  .section-what__list {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.section-how {
  padding-block-start: 61px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-block-end: 60px;
}

@media (width < 768px) {
  .section-how {
    grid-template-columns: 1fr;
    padding-block-start: 32px;
    padding-block-end: 31px;
  }
}

.section-how__container {
  padding-inline-start: 7px;
}

@media (width < 1024px) {
  .section-how__container {
    padding-inline-start: 14px;
  }
}

@media (width < 768px) {
  .section-how__container {
    padding-inline-start: 0;
    padding-block-start: 20px;
  }
}

.section-how__list {
  padding-block-start: 20px;
}

.pictures_title {
  padding-block-end: 20px;
}

@media (width < 768px) {
  .pictures_title {
    padding-block-end: 0;
  }
}

.pictures-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  max-width: 100%;
  gap: 20px;
  padding-block-end: 60px;
}

@media (width < 1024px) {
  .pictures-container {
    grid-template-rows: 192px 230px 318px;
  }
}

@media (width < 768px) {
  .pictures-container {
    display: flex;
    flex-direction: column;
    gap: 5.5px;
    padding-block-start: 10px;
    padding-block-end: 40px;
  }
}

.sunset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sunset_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.ice-cream_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  grid-column-start: 2;
  grid-column-end: 3;
}

.books_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.tape_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.street {
  grid-column-start: 2;
  grid-column-end: 4;
}

.street_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.footer::after {
  display: block;
  content: "";
  border-right: 1px solid var(--caption-color);
  position: absolute;
  width: 1px;
  height: 25px;
  left: 20px;
  bottom: 15px;
}

.footer::before {
  display: block;
  content: "";
  border-right: 25px solid var(--caption-color);
  position: absolute;
  width: 25px;
  height: 1px;
  left: 20px;
  bottom: 15px;
}

@media (width < 1024px) {
  .footer::after {
    left: 20px;
    bottom: 20px;
  }

  .footer::before {
    left: 20px;
    bottom: 20px;
  }
}

@media (width < 768px) {
  .footer::after {
    left: 10px;
    bottom: 15px;
  }

  .footer::before {
    left: 10px;
    bottom: 15px;
  }
}

.footer__title {
  color: var(--title-color, #db00ff);
  font-size: var(--title-font-size);
  font-family: var(--main-font);
  text-shadow: 2px 2px 0 var(--accent-color);
  padding-block-start: 10px;
}

@media (width < 1024px) {
  .footer__title {
    padding-block-start: 0;
    opacity: 50%;
  }
}

.footer__title::before {
  display: block;
  content: "";
  border-right: 25px solid var(--caption-color);
  position: absolute;
  width: 25px;
  height: 1px;
  right: 20px;
  top: 24px;
}

.footer__title::after {
  display: block;
  content: "";
  border-right: 1px solid var(--caption-color);
  position: absolute;
  width: 1px;
  height: 25px;
  right: 20px;
  top: 24px;
}

@media (width < 1024px) {
  .footer__title::before {
    right: 20px;
    top: 20px;
  }

  .footer__title::after {
    right: 20px;
    top: 20px;
  }
}

@media (width < 768px) {
  .footer__title::before {
    right: 10px;
    top: 8px;
  }

  .footer__title::after {
    right: 10px;
    top: 8px;
  }
}

@media (width < 768px) {
  .footer__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-end: 6px;
  }
}
