.page {
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.header {
  display: grid;
  flex-direction: column;
  position: relative;
  height: 100dvh;
  width: 100dvw;
  min-height: 668px;
}

.decorated-zone {
  position: relative;
  color: var(--caption-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid currentcolor;
  border-block-start: 1px solid currentcolor;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

@media (width < 768px) {
  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid currentcolor;
  border-block-end: 1px solid currentcolor;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

@media (width < 768px) {
  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}

.header__theme-menu {
  padding-block-start: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: var(--main-font);
  font-size: var(--font-size);
  color: var(--caption-color);
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    padding-block-start: 170px;
    gap: 5px;
    padding-inline-end: 20px;
  }
}

@media (width < 768px) {
  .header__theme-menu-list {
    padding-block-start: 54px;
    padding-inline-end: 10px;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 2px 13px 4px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-outline-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.decorated {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--decorated-color);
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 27px;
}

.decorated::after {
  content: '';
  display: inline-block;
  filter: blur(2px);
  background-color: var(--decorated-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

@media (width < 768px) {
  .decorated {
    top: 10px;
    right: 17px;
  }
}

.header__title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-family: var(--main-font);
  text-shadow: 4px 4px 0 var(--decor-color);
  padding-block-start: 236px;
}

@media (width < 1024px) {
  .header__title {
    padding-block-start: 7px;
  }
}

@media (width < 768px) {
  .header__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-start: 64px;
    padding-inline-start: 10px;
    line-height: 0.83em;
  }
}

.header__text {
  justify-self: end;
  width: 50%;
  padding-block-start: 75px;
  padding-inline-end: 20px;
  padding-block-end: 134px;
}

@media (width < 1024px) {
  .header__text {
    padding-block-start: 65px;
    padding-block-end: 115px;
  }
}

@media (width < 768px) {
  .header__text {
    padding-inline: 10px;
    padding-block-start: 54px;
    width: 100%;
  }
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--extra-text-color);
  font-size: var(--font-size);
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.main-text {
  color: var(--text-color);
}

.main {
  padding-block-start: 60px;
}

@media (width < 768px) {
  .main {
    padding-block-start: 40px;
  }
}

.why-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (width < 768px) {
  .why-section {
    grid-template-columns: 1fr;
  }
}

@media (width < 1024px) {
  .why-section__title {
    max-width: 230px;
  }
}

@media (width < 768px) {
  .why-section__title {
    max-width: 100%;
  }
}

.why-section__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline-start: 7px;
  padding-block-end: 79px;
}

@media (width < 1024px) {
  .why-section__container {
    padding-inline-start: 14px;
  }
}

@media (width < 768px) {
  .why-section__container {
    padding-inline-start: 0;
    padding-block-start: 20px;
    padding-block-end: 46px;
  }
}

.section__article {
  display: grid;
  gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.what-section__title {
  display: inline-block;
  max-width: 315px;
  width: 100%;
}

@media (width < 1024px) {
  .what-section__title {
    max-width: 230px;
  }
}

@media (width < 768px) {
  .what-section__title {
    max-width: 100%;
  }
}

.what-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 19px;
}

@media (width < 1024px) {
  .what-section__list {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

.how-section {
  padding-block-start: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-block-end: 80px;
}

@media (width < 768px) {
  .how-section {
    grid-template-columns: 1fr;
    padding-block-start: 49px;
    padding-block-end: 47px;
  }
}

.how-section__container {
  padding-inline-start: 7px;
  display: grid;
  gap: 20px;
}

@media (width < 1024px) {
  .how-section__container {
    padding-inline-start: 14px;
  }
}

@media (width < 768px) {
  .how-section__container {
    padding-inline-start: 0;
    padding-block-start: 20px;
  }
}

.how-section__list {
  display: grid;
  gap: 19px;
}

.how-section__list-item {
  display: grid;
  gap: 10px;
}

.pictures-section {
  display: grid;
  gap: 20px;
}



@media (width < 768px) {
  .pictures-section {
    gap: 0;
  }
}

.pictures-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  max-width: 100%;
  gap: 20px;
  padding-block-end: 60px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

@media (width < 1024px) {
  .pictures-container {
    grid-template-rows: 192px 230px 318px;
  }
}

@media (width < 768px) {
  .pictures-container {
    display: flex;
    flex-direction: column;
    gap: 5.5px;
    padding-block-start: 10px;
    padding-block-end: 40px;
  }
}

.sunset {
  grid-area: sunset;
}

.sunset_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ice-cream {
  grid-area: ice-cream;
}

.ice-cream_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  grid-area: books;
}

.books_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tape {
  grid-area: tape;
}

.tape_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.street {
  grid-area: street;
}

.street_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.footer__title {
  color: var(--title-color, #db00ff);
  font-size: var(--title-font-size);
  font-family: var(--main-font);
  text-shadow: 2px 2px 0 var(--accent-color);
  padding-block-start: 10px;
}

@media (width < 1024px) {
  .footer__title {
    padding-block-start: 0;
    opacity: 50%;
  }
}

@media (width < 768px) {
  .footer__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-end: 6px;
  }
}